{% extends 'core/base.html' %}

{% block contenido_central %}

{% load static %}


<div class=" text-light  m-5 d-flex justify-content-center">

    {{ msj }}

</div>
<br>
{% if request.user.is_authenticated %}
    <button><a href="{% url 'Logout' %}">Salir</a></button>
{% endif %}

<div id="templatemo_content">
    <div id="templatemo_content_left">
        
        <div class="templatemo_post">
            <div class="post_title">
                Asado dominguero en Nuestro Secreto
            </div>
            
            <div class="post_body">
                <img src="{% static 'core/images/asado.jpg' %}" alt="asado" />
                <p>Todos los domingos al mediodía, el Restaurante Nuestro Secreto del Four Seasons Hotel Buenos Aires, ofrece su un completísimo menú de asado para compartir en familia, a partir de las 12.30</p>
                <p>Por Rodrigo Accorinti.</p>
            </div>
            
        </div> <!-- end of post two -->
        
        <div class="templatemo_post">
            <div class="post_title">
                Alta cocina al menor precio posible
            </div>
            
            <div class="post_body">
                <img src="{% static 'core/images/gourmet.jpg' %}" alt="gourmet" />
                <p>Novedades de formato y cambio total de platos, es lo que ofrece el chef Dante Liporace en la carta otoñal del Restaurante Mercado de Liniers. Pero lo más sustancial es que se ha buscado "democratizar" la alta cocina, a través de valores más accesibles sin desmedro de la calidad.</p>
                <p>Por Rodrigo Accorinti.</p>
            </div>
        </div> <!-- end of post two -->

        
    </div> <!-- end of content left -->

    <div id="templatemo_content_right">
        <div class="templatemo_right_section">
            <h2>Categorías</h2>
            <ul>
                <li><a href="#">Morbi nec magna pulvinar</a></li>
                <li><a href="#">Suspendisse rhoncus lectus</a></li>
                <li><a href="#">Pellentesque rutrum est</a></li>
                <li><a href="#">Nunc blandit orci</a></li>
            </ul>    
        </div>
    </div> <!-- end of right content -->
</div> <!-- end of content -->
</div> <!-- end of content container -->

{% endblock %}
